<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>STRUCTURE PAGE PLACEHOLDER TITLE</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'main_app/css/style.css' %}" media="screen" title="no title" charset="utf-8">
    </head>
    <body>
        <div class="container">
            <!-- navbar -->
            <a href="{% url 'main_app:index' %}" class="btn">Home</a>
            <a href="{% url 'main_app:summary' %}" class="btn">Summary</a>
            <a href="{% url 'main_app:structure' %}" class="btn">Structure</a>
            <a href="{% url 'main_app:content' %}" class="btn">Content</a>
            <a href="{% url 'main_app:demo' %}" class="btn">Demo</a>
            <a href="{% url 'main_app:live_demo' %}" class="btn">Live Demo</a>
        </div>
        <div class="container" style="display: flex;">
            <img src={% static 'main_app/img/cs481_sensor_1.png' %} alt="Sensor1" style="padding-right: 50px;">
            <p>
                SENSOR DESCRIPTION 1 SENSOR DESCRIPTION 1 SENSOR DESCRIPTION 1
                SENSOR DESCRIPTION 1 SENSOR DESCRIPTION 1 SENSOR DESCRIPTION 1
                SENSOR DESCRIPTION 1 SENSOR DESCRIPTION 1 SENSOR DESCRIPTION 1
                SENSOR DESCRIPTION 1 SENSOR DESCRIPTION 1 SENSOR DESCRIPTION 1
                SENSOR DESCRIPTION 1 SENSOR DESCRIPTION 1 SENSOR DESCRIPTION 1
            </p>
        </div>
        <div class="container">
            <p>
                DESCRIPTION DESCRIPTION DESCRIPTION DESCRIPTION DESCRIPTION
                DESCRIPTION DESCRIPTION DESCRIPTION DESCRIPTION DESCRIPTION
                DESCRIPTION DESCRIPTION DESCRIPTION DESCRIPTION DESCRIPTION
                DESCRIPTION DESCRIPTION DESCRIPTION DESCRIPTION DESCRIPTION
                DESCRIPTION DESCRIPTION DESCRIPTION DESCRIPTION DESCRIPTION
            </p>
        </div>
        <div class="container" style="display: flex;">
            <img src={% static 'main_app/img/cs481_sensor_2.png' %} alt="Sensor1" style="padding-right: 50px;">
            <p>
                SENSOR DESCRIPTION 2 SENSOR DESCRIPTION 2 SENSOR DESCRIPTION 2
                SENSOR DESCRIPTION 2 SENSOR DESCRIPTION 2 SENSOR DESCRIPTION 2
                SENSOR DESCRIPTION 2 SENSOR DESCRIPTION 2 SENSOR DESCRIPTION 2
                SENSOR DESCRIPTION 2 SENSOR DESCRIPTION 2 SENSOR DESCRIPTION 2
                SENSOR DESCRIPTION 2 SENSOR DESCRIPTION 2 SENSOR DESCRIPTION 2
            </p>
        </div>
    </body>
</html>