/* styles unique to live_demo.html*/
.error {
    background-color: #f8d7da;
    color: #721c24;
}
.chart-container {
    position: relative;
    height: 400px;
    width: 100%;
    margin: 2rem 0;
}
.controls {
    margin: 1rem 0;
    padding: 1rem;
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    border-radius: 4px;
}
/* additional styles added 4-18-2025 (SCRUM Sprint 2)*/
.chart-container {
    position: relative;
    height: 200px;
    width: 100%;
    margin: 1rem 0 0 0;
}
.card-title {
    font-weight: 600;
}
.fw-bold {
    font-weight: 600;
}
.controls .btn {
    background-color: #0d6efd; /* primary blue for button color */
    color: #fff; /* white text color */
    border: none;
    min-width: 120px; /* Optional: minimum width for buttons */
}